.border-cyber {
    border: 2px solid #63FFFF;
    border-image: linear-gradient(90deg, #63FFFF 0%, #2EFEFE 50%, #63FFFF 100%);
    border-image-slice: 1;
}

.button-cyber {
    border: 2px solid #63FFFF;
    border-image: linear-gradient(90deg, #63FFFF 0%, #2EFEFE 50%, #63FFFF 100%);
    border-image-slice: 1;
    padding: 4px 10px;
    background-color: #092320;
    color: #63FFFF;
}